---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
export async function getStaticPaths() {
    const posts = await Astro.glob("../posts/*.md");

    return posts.map((post) => ({
        params: {
            slug: post.frontmatter.slug,
        },
        props: {
            post,
        },
    }));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title}>
    <section class="page-content">
        <div class="container">
            <Card>
                <a href="/blog" class="btn">Go Back</a>
                <h2>{frontmatter.title}</h2>
                <div>
                    Written by
                    <strong>
                        {frontmatter.author}
                    </strong>
                    on
                    {new Date(frontmatter.date).toLocaleDateString()}
                </div>
                <Content />
            </Card>
        </div>
    </section>
</Layout>
