---
import Card from "../components/Card.astro";
import Showcase from "../components/Showcase.astro";
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob('../posts/*.md')
---

<Layout title="Astro Blog">
	<Showcase heading="Astro Blog" text="A simple blog build with Astro"/>
	<section class="page-content">
		<div class="container">
			{
				posts &&
					posts.map((post) => (
						<Card>
							<h2>{post.frontmatter.title}</h2>
							<p>{post.frontmatter.excerpt}</p>
							<a href={`/${post.frontmatter.slug}`} class="btn">
								Read More
							</a>
						</Card>
					))
			}
		</div>
	</section>
</Layout>
