---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro'
import '../styles/global.css'
export interface Props {
    title?: string
}
const { title = 'Astro Crash Course' } = Astro.props as Props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
    </body>
</html>
